<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Listado de Concursos</h1>
    </div>
</div>
            
<!-- /.row -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--%= link_to 'New Beer', new_article_path, remote: true %-->
            
            <%# Added Bootstrap data modal attribute %>
<%= link_to 'Nuevo Concurso', '#new_beer_modal', 'data-toggle' => 'modal' %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        	<div id="article-form2" style="display: none;"></div>
            
        </div>
        <!-- /.panel-body -->
    </div>
</div>


<!-- /.row -->


<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_beer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new beer</h4>
      </div>
      <div class="modal-body">
		<div id="article-form">
			
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


